h1 {
    text-align: center;
}

body{
    perspective: 400px;
}

.areaJuego{
    width: 400px;
    height: 400px;
    border: 1px solid;
    margin: auto;
    position: relative;
    transform: rotateX(45deg);
    transform-style: preserve-3d;
}

.snake{
    background-color: red;
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: .7;
    border: 1px solid;
}

.tapa {
    transform: translateZ(40px);
}

.atras {
    transform: rotateX(90deg) translateZ(20px) translateY(20px);
}

.alante {
    transform: rotateX(90deg) translateZ(-20px) translateY(20px);
}

.comida {
    background-color: blue;
}